/* Estilos para el encabezado (header) */
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-roulette {
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roulette-section {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


h2 {
  color: white;
  margin-top: 20px;
  font-size: 3rem;
  text-align:center;
}

.app-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C31E3A;
  border: 5px solid #66CFE3;
  border-radius: 10px;
  width: 40%;
  height: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

input {
  background-color: #D9D9D9;
  border: none;
  margin: 5px;
  margin-top: 10px;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
}

.form-button {
  background-color: #FF5500;
  border: 2px solid #ffffff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
}

/* Estilos para el pie de página (footer) */
.app-footer {
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgLogo {
  width : 70px;
  margin: 5px;
}

.button-back {
  background-color: #4B4E53;
  border: 2px solid #ffffff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .app-form {
    width: 90%;
    height: 400px;
  }
}