.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    border: none; 
    color: black; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;
    background-color: white; border: 2px solid #007bff; 
  }

.btn:hover {
    background: #0b7dda; color: white;
}